<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.common.order.dao.DubboOrderDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.common.order.entity.DubboOrderEntity">
        <id column="id" property="id" javaType="Long" jdbcType="BIGINT"/>
        <result column="gmt_create" property="gmtCreate" javaType="Date" jdbcType="TIME"/>
        <result column="gmt_modified" property="gmtModified" javaType="Date" jdbcType="TIME"/>
        <result column="order_id" property="orderId" javaType="String" jdbcType="VARCHAR"/>
        <result column="detail_id" property="detailId" javaType="String" jdbcType="VARCHAR"/>
        <result column="is_paid" property="paid" javaType="Boolean" jdbcType="TINYINT"/>
        <result column="user_id" property="userId" javaType="Boolean" jdbcType="TINYINT"/>
        <result column="is_expired" property="isExpired" javaType="Boolean" jdbcType="TINYINT"/>
        <result column="order_esc" property="orderDesc" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS id,gmt_create AS gmtCreate, gmt_modified AS gmtModified, order_id AS orderId,detail_id AS detailId, is_paid AS paid, user_id as userId,is_expired AS isExpired,order_esc AS orderDesc
    </sql>

</mapper>
