<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biao.mall.common.dao.DubboDeliveryDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.biao.mall.common.entity.DubboDeliveryEntity">
        <id column="id" property="id" />
        <result column="delivery_id" property="deliveryId" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="order_id" property="orderId" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, delivery_id, gmt_create, gmt_modified, order_id, user_id
    </sql>

</mapper>
