<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biao.mall.account.dao.AccountDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.biao.mall.account.entity.AccountEntity">
        <id column="id" property="id" />
        <result column="balance" property="balance" />
        <result column="last_update_time" property="lastUpdateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, balance, last_update_time
    </sql>
    <update id="decreaseAccount">
      update account set balance = balance-${amount} where id = #{userId}
    </update>

    <update id="increaseAccount">
      update account set balance = balance+${amount} where id = #{userId}
    </update>

    <update id="testGlobalLock">
      select * from account where id = #{userId} for update
    </update>

</mapper>
