<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biao.mall.common.dao.DubboOrderDetailDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.biao.mall.common.entity.DubboOrderDetailEntity">
        <id column="id" property="id" />
        <result column="order_detail_id" property="orderDetailId" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="order_id" property="orderId" />
        <result column="item_id" property="itemId" />
        <result column="quantity" property="quantity" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_detail_id, grmt_create, gmt_modified, order_id, item_id, quantity
    </sql>

</mapper>
